<h1><%= t('.title') %></h1>
<%= render partial: 'product', collection: @products %>
<!--Renderizamos el partial _product.html.erb pasandole el array de
productos, cada producto se itera por el nombre del partial, es decir, product-->